<template>
    <form v-bind:id="name">
        <div>
            <input type="file" accept="image/*" v-bind:id="name + '-input'" v-on:change="preview_image();">
            <img class="srcImage" v-if="!preview" v-bind:src="default_src">
            <img class="preview" v-show="preview">
        </div>
    </form>
</template>

<script>

export default {
    props: {
        default_src: String,
        name: String,
        height: String,
        width: String
    },

    data() {
        return {
            preview: false
        };
    },

    mounted() {
        const input = $("#" + this.name + " input");
        input.css('height', this.height);
        input.css('width', this.width);

        const srcImage = $("#" + this.name + " .srcImage");
        srcImage.css('height', this.height);
        srcImage.css('width', this.width);

        const preview = $("#" + this.name + " .preview");
        preview.css('height', this.height);
        preview.css('width', this.width);
    },

    methods: {
        preview_image() {

            this.preview = true;

            var reader = new FileReader();
            reader.onload = function()
            {
                var output = $("#" + this.name + " .preview")[0];
                output.src = reader.result;

            }.bind(this);

            reader.readAsDataURL($("#" + this.name + " input")[0].files[0]);

            this.$emit('changed');
        }
    }
}
</script>

<style scoped>
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    input {
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0;
        cursor: pointer;
        padding: 0px !important;
    }
</style>