<template>
<!-- Modal -->
    <div id="channel-creation">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">CREATE A CHANNEL</h4>
                </div>
                <form class="modal-body">
                    <div class="row">
                        <div class="col">
                            <label for="name">CHANNEL NAME</label>
                            <input class="form-control" id="name" type="text" name="name" placeholder="Chat Lounge">
                            <label for="name">CHANNEL TOPIC</label>
                            <input class="form-control" id="topic" type="text" name="topic" placeholder="A place to talk to friends">
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-close" data-dismiss="modal">Close</button>
                    <button type="button" v-on:click="Submit();" class="btn btn-primary" data-dismiss="modal">CREATE</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {

    mounted() {
        //Register modal with modal manager
        window.modal.RegisterModal(this, $("#channel-creation"));
    },

    methods: {        
        Discard() {
            this.$parent.channelCreationModal = false;
        },

        previewImage() {
            const input = $("#icon")[0];
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                
                reader.onload = function (e) {
                    $('#icon-preview').css('background-image', "url('" + e.target.result + "')");
                }
                
                reader.readAsDataURL(input.files[0]);
            } else {
                alert("Your browser does not support file previews, so none will show");
            }
        },

        Submit() {
            $.POST('guild/' + window.store.state.selectedGuild.guild._id + '/create', $("#channel-creation form").serialize(), function(result, data) {
                if (result != "success") {
                    alert(data);
                }
                //TODO: Add this to list of guilds
                console.log(data);
            });
        }
    }
}
</script>

<style lang="scss" scoped>
   @import '~#/_variables.scss';

    #channel-creation {
        position: absolute;
        left: 0px;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 800px;
        height: 300px;
        z-index: 3;
        top: 100px;
        animation: show 0.1s;
    }

    .placeholder {
        background-color: $primary;
    }

</style>