<template>
    <div class="card" id="guild-creation">
        <div class="row">
            <div class="col create creator">
                <a class="label">CREATE</a>
                <br><br>
                <form v-on:submit="Submit(); return false;">
                    <div class="row">
                        <div class="col-lg">
                            <label for="icon"><div class="placeholder" id="icon-preview"></div></label>
                            <input style="display: none;" accept="image/x-png,image/gif,image/jpeg" v-on:change="previewImage();" type="file" name="icon" id="icon">
                        </div>
                        <div class="col">
                            <label for="name">SERVER NAME</label>
                            <input class="form-control" id="name" type="text" name="name" placeholder="Chat Lounge">
                            <br>
                            <div class="row">
                                <input class="form-control" id="defaults" type="checkbox" checked name="defaults" >
                                <label for="defaults" class="checkbox">×</label>
                                <label for="defaults">DEFAULT SETTINGS</label>
                            </div>
                        </div>
                        <a v-bind:class="{btn: true}" v-on:click="CreateGuild();">CREATE GUILD</a>
                    </div>
                </form>
            </div>
            <div class="col join">
                <a class="label">JOIN</a>
                <br><br>
                <input name="guild-code" v-model="guildCode" v-on:input="CalculateFont();" placeholder="FRNDS4EVER">
                <br>
                <a v-bind:class="{active: guildCode != '', btn: true}" v-on:click="JoinGuild();">JOIN GUILD</a>
                <canvas id="canvas" width=1 height=1></canvas>
            </div>
        </div>
    </div>
</template>

<script>
export default {

    data() {
        return {
            guildCode: ''
        };
    },

    mounted() {
        //Register modal with modal manager
        window.modal.RegisterModal(this, $("#guild-creation"));
    },

    methods: {
        
        Discard() {
            this.$parent.guildCreationModal = false;
        },

        previewImage() {
            const input = $("#icon")[0];
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                
                reader.onload = function (e) {
                    $('#icon-preview').css('background-image', "url('" + e.target.result + "')");
                }
                
                reader.readAsDataURL(input.files[0]);
            } else {
                alert("Your browser does not support file previews, so none will show");
            }
        },

        CreateGuild() {
            var data = new FormData($(".creator form")[0]);

            window.events.$emit("guild-create", data);
            window.modal.DiscardTopModal();
        },

        JoinGuild() {
            window.events.$emit("join-guild", this.guildCode);
            window.modal.DiscardTopModal();
        },

        CalculateFont() {
            var text = $("#guild-creation .join input[name=guild-code]");
            var value = text[0].value;
            const maxFontSize = 30;
            const minFontSize = 20;
            const maxObjectWidth = 250;
            var canvas = document.getElementById("canvas");
            var context = canvas.getContext("2d");

            if (value == "") {
                value = text[0].placeholder;
            }

            //Reduce the font size until it fits nicely
            for(var fSize = maxFontSize; fSize > minFontSize; fSize -= 5) {
                context.font = fSize + "px roboto";

                var width = context.measureText(value).width

                if (width > maxObjectWidth) {
                    continue;
                }

                text[0].style.fontSize = fSize + "px";
                return;
            }

            text[0].style.fontSize = "20px";
        },

        InviteTyped(event) {
            if (event.data == " ") {
                this.$parent.data.brand.invite = event.target.value.replace(" ", "-");
            }
        }
    }
}
</script>

<style lang="scss" scoped>
   @import '~#/_variables.scss';
    .placeholder {
        background-color: $primary;
        height: 80px;
        width: 80px;
    }

    .col-lg {
        max-width: 100px;
        margin-left: 20px;
        padding-left: 60px;
        padding-top: 10px;
    }

    #guild-creation {
        position: absolute;
        left: 0px;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 800px;
        height: 300px;
        z-index: 3;
        top: 100px;
        animation: show 0.1s;
    }

    .create {
        background-color: $background;
        border-radius: $high_roundness 0px 0px $high_roundness;
        height: 300px;
        overflow: hidden;
    }

    input[name=guild-code] {
        position: absolute;
        left: 0px;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 30px;
        width: 300px;
        transition: all 0.1s ease-in;
        border-bottom: 5px $primary solid !important;
        color: $primary_text !important;
    }

    .btn {
        position: absolute;
        bottom: 10px;
        border: none;
        width: calc(100% - 40px);
        transition: all 0.1s ease-in;
        background-color: rgba(0, 0, 0, 0.1);
    }

    .active {
        background-color: $green;
    }

    .col > .label {
        font-size: 20px;
        color: $primary_text !important;
        margin-top: 10px;
        width: 100%;
        text-align: center;
        display: block;
    }

    .create {
        label[for=icon] {
            margin-left: calc(50% - 70px);
        }
        .btn {
            margin-left: 20px;
        }
    }
</style>