<template>
  <div v-if="shown" class="card guild shadow" id="guild-settings">
    <div class="save shadow" v-if="unsavedChanges">
      <a>Watch Out - You have unsaved changes</a>
      <div class="options">
        <a v-on:click="DiscardButton();">Discard</a>
        <a class="btn btn-primary" v-on:click="Save();">SAVE CHANGES</a>
      </div>
    </div>
    <div class="row">
      <div class="col-3 nav">
        <div class="col">
          <a class="label">GUILD SETTINGS</a>
          <ul class>
            <li v-on:click="SetTab('brand')" v-bind:class="{selected: tab == 'brand'}">
              <a>Brand</a>
            </li>
            <li v-on:click="SetTab('moderation')" v-bind:class="{selected: tab == 'moderation'}">
              <a>Moderation</a>
            </li>
            <li v-on:click="SetTab('css')" v-bind:class="{selected: tab == 'css'}">
              <a>Custom CSS</a>
            </li>
            <li v-on:click="SetTab('members')" v-bind:class="{selected: tab == 'members'}">
              <a>Members</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-9 content">
        <div class="col">
          <div class="brand" style="padding-top: 0px;">
            <div class="title row">
              <a>BRAND</a>
            </div>
            <BrandRow v-bind:guild="selectedGuild._id"></BrandRow>
          </div>
          <div class="row moderation">
            <div class="col">
              <div class="title row">
                <a>MODERATION</a>
              </div>
              <table class="mod row" style="margin: 0px;">
                <div class="col">
                  <div class="row">
                    <input
                      class="form-control"
                      id="defaults"
                      type="checkbox"
                      checked
                      name="defaults"
                    />
                    <label for="defaults" class="checkbox">×</label>
                    <label for="defaults">Allow users with non verified email addresses</label>
                  </div>
                  <br />
                  <div class="row">
                    <input class="form-control" id="2fa" type="checkbox" checked name="defaults" />
                    <label for="2fa" class="checkbox">×</label>
                    <label for="2fa">Require 2FA for administrators</label>
                  </div>
                  <br />
                  <div class="row">
                    <input
                      class="form-control"
                      id="spamfilter"
                      type="checkbox"
                      checked
                      name="defaults"
                    />
                    <label for="spamfilter" class="checkbox">×</label>
                    <label for="spamfilter">Default spam filter</label>
                  </div>
                </div>
              </table>
            </div>
          </div>
          <div class="row css">
            <div class="col">
              <div class="title row">
                <a>CUSTOM CSS</a>
              </div>
              <CustomCSSRow></CustomCSSRow>
            </div>
          </div>
          <div class="row members" style="padding-bottom: 20vh;">
            <div class="col">
              <div class="title row">
                <a>MEMBERS</a>
              </div>
              <div class="col">
                <div
                  class="member"
                  v-bind:key="member._id"
                  v-for="member in Object.values(selectedGuild.members)">
                  <img v-bind:src="api + 'user/' + member._id + '/profile'" height="30px" />
                  <a>{{ member.name }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import CustomCSSRow from './Pages/CustomCSSRow';
import BrandRow from './Components/Brand';

export default {
  components: {
    BrandRow,
    CustomCSSRow
  },

  data() {
    return {
      api: window.settings.api,
      shown: false,
      tab: "brand",
      unsavedChanges: false,
      inputs: {
        brand: ["icon", "name", "invite"]
      },
      data: {
        brand: {
          invite: ""
        },
        css: ""
      }
    };
  },
  
  created() {
    window.events.$on(
      "guild-settings",
      function() {
        this.shown = true;
        this.tab = "brand";
        this.unsavedChanges = false;

        this.data = {
          brand: {
            invite: this.selectedGuild.settings.invite,
            name: this.selectedGuild.name
          },
          css: this.selectedGuild.css
        };
        
        //Default value
        if (this.selectedGuild.css == "") {
          this.data.css = "/* Enter your custom server CSS here */\n";
        }

        setTimeout(
          function() {
            this.Displayed();
          }.bind(this),
          100
        );
      }.bind(this)
    );
  },

  destroyed() {
    $(".guild .content > .col")[0].removeEventListener(
      "scroll",
      this.CalculateTab
    );
  },

  methods: {

    DiscardButton() {
      this.unsavedChanges = false;
      window.modal.DiscardTopModal();
    },

    Displayed() {
      //Register modal with modal manager
      window.modal.RegisterModal(this, $("#guild-settings"));

      //Setup scrolling
      $(".guild .content > .col")[0].addEventListener(
        "scroll",
        this.CalculateTab
      );
      this.tabs = ["brand", "moderation", "css", "members"];
      this.tabsOffsets = [];

      for (var i = 0; i < this.tabs.length; i++) {
        const startDisplay = $(".guild .content .col > ." + this.tabs[i])[0]
          .offsetTop;
        //20px offset
        this.tabsOffsets[i] = startDisplay - 20;
      }

      //Loop through items in tabs to setup save notification
      Object.keys(this.inputs).forEach(tab => {
        var tabData = this.inputs[tab];

        tabData.forEach(item => {
          $(".guild .content *[name=" + item + "]").keyup(
            function(e) {
              this.unsavedChanges = true;
              this.data[tab][item] = e.target.value;
            }.bind(this)
          );
        });
      });
    },

    Save() {
      window.events.$emit('update-guild', this.data);

      this.unsavedChanges = false;
    },

    Discard() {
      if (this.unsavedChanges) {
        //Stop the popup from closing
        return true;
      }

      this.shown = false;
    },

    CalculateTab() {
      //How many pixels before the tab should we change the tab to it
      const scrollTop = $(".guild .content > .col")[0].scrollTop;
      var tab = "";

      for (var i = this.tabs.length - 1; i >= 0; i--) {
        //20px offset to match the other offset
        if (scrollTop + 20 > this.tabsOffsets[i]) {
          tab = this.tabs[i];
          break;
        }
      }

      if (!tab) {
        tab = this.tabs[0];
      }

      this.tab = tab;
    },

    SetTab(tab) {
      this.tab = tab;
      var tabId = 0;

      for (var i = 0; i < this.tabs.length; i++) {
        if (this.tabs[i] == tab) {
          tabId = i;
          break;
        }
      }

      $(".guild .content > .col").animate(
        { scrollTop: this.tabsOffsets[tabId] },
        "500"
      );
    }
  },
  computed: {
    selectedGuild() {
      return store.state.selectedGuild.guild;
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~#/_variables.scss";

.guild {
  width: 100vw;
  max-width: 850px;
  height: 96vh;
  top: 2vh;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  position: absolute;
  z-index: 3;
  background-color: $l2_background;
  animation: show 0.1s;
  overflow: hidden;
}

.content {
  padding: 0px;
}

.content > .col > div {
  padding-top: 40px;
}

.content > .col {
    height: 100vh;
    max-width: 850px;
    padding: 30px 15px 30px 15px;
    height: 100vh;
    overflow: auto;
}

.nav {
    background-color: $background;
    height: 100vh;
    padding-top: 30px;

    .col {
        height: 96vh;
        position: absolute;
        right: 0px;
        max-width: 200px;
    }
}

* {
  &::v-deep {
    input,
    textarea,
    .form-control {
      background-color: $background !important;
    }
  }
}

/* Save System */
.save {
  width: 90%;
  height: 55px;
  position: absolute;
  bottom: 10px;
  padding-top: 15px;
  border-radius: $default_roundness;
  z-index: 5;
  background-color: $l_background;
  animation: show 0.1s;
  left: 5%;

  .options {
    position: absolute;
    right: 10px;
    top: 10px;

    .btn {
      margin-left: 10px;
    }
    a {
      user-select: none;
      cursor: pointer;
    }
  }

  > a {
    padding-left: 10px;
    font-size: 16px;
  }
}

/* Members */
.members {
  margin-bottom: 10px;

  .member {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px $l_background solid;

    img {
      border-radius: 100px;
      width: 30px;
      height: 30px;
    }
  }
}
</style>
