<template>
    <div class="col editable">
        <div class="row" id="chat-title">
            <b class="secondary-text hashtag"># </b>
            <a class="primary-text channel-name">{{ channel.name }}</a>
            <a id="description">{{ channel.topic }}</a>
        </div>
        <div class="row">
            <div class="chat-content">
                <div id="message-prefab" v-for="message in newMessages" v-bind:key="message[0]._id">
                    <div class="row">
                        <div v-if="message[0].type == 'Message'">
                            <img v-on:click="showUserDisplay($event.target, message[0].sender_id);" class="profile" v-bind:src="api + 'user/' + message[0].sender_id + '/profile'">
                        </div>
                        <div class="col">
                            <div v-if="message[0].type == 'Message'">
                                <a id="username" v-on:click="showUserDisplay($event.target, message[0].sender_id);">{{ getAuthor(message[0].sender_id).name }}</a>
                                <a id="time">{{ FormatTime(message[0].sent) }}</a>
                                <br>
                            </div>
                            <div class="col">
                                <div id="message" class="row dropdown" v-for="msg in message" v-bind:key="msg._id">
                                    <Message v-bind:msg="msg"></Message>
                                </div>
                            </div>
                        </div>
                        <div v-if="!message[message.length - 1].noBorder" class="divider"></div>
                    </div>
                </div>
            </div>
        </div>
        <chatbar></chatbar>
    </div>
</template>

<script>

    import chatbar from './Components/ChatBar';
    import emojipicker from './Components/EmojiPicker';
    import Message from './Components/Message';

    export default {
        components: {
            chatbar,
            emojipicker,
            Message
        },
        data () {
            return {
                api: window.settings.api,
                previousAuthor: ''
            }
        },
        computed: {
            messages() {
                return store.state.selectedGuild.messages;
            },
            channel() {
                return store.state.selectedGuild.channel;
            },
            newMessages() {
                var newMessages = [];
                var stackedMessages = 0;

                for(var i = 0; i < this.messages.length; i++) {
                    var message = this.messages[i];
                    if (i > 0 && this.messages[i].sender_id == this.messages[i - 1].sender_id && stackedMessages < 6) {
                        //Stack!
                        var numOfStackedMessages = newMessages[newMessages.length - 1].length;
                        
                        newMessages[newMessages.length - 1][numOfStackedMessages] = message;

                        stackedMessages++;
                    } else {
                        //New profile
                        newMessages[newMessages.length] = [message];
                        stackedMessages = 0;
                    }
                }

                return newMessages;
            }
        },
        methods: {
            Copy(text) {
                $.COPY(text);
            },
            //Format time into format 25/4/2019 at 4:07 PM or Today at 4:07 PM
            FormatTime(time) {

                //Convert to local timezone
                var nzOffset = 720;
                var date = new Date(Date.parse(time));
                var timeOffset = (-nzOffset - new Date().getTimezoneOffset()) * 60 * 1000;
                date = new Date(date.getTime() + timeOffset);


                var hours = date.getHours();
                var pm = false;
                if (hours > 12) {
                    hours -= 12;
                    pm = true;
                }

                var day = "Today";
                //Milliseconds that have passed in the day
                var millisSinceToday = this.getMillisecondsInDay();
                //Milliseconds in a day
                var millisInDay = 86400000;
                
                if (new Date().getTime() <= date.getTime() + millisSinceToday) {
                    day = "Today";
                } else if (new Date().getTime() <= date.getTime() + ( + millisSinceToday)) {
                    day = "Yesterday";
                }else {
                    day = date.getDate() + "/" + date.getMonth() + "/" + date.getFullYear();
                }

                var time = day + " at " + hours + ":" + this.PadInt(date.getMinutes()) + " ";

                if (pm) {
                    time += "PM";
                } else {
                    time += "AM";
                }

                return time;
            },
            PadInt(num) {
                return (num < 10) ? '0' + num.toString() : num.toString();
            },
            getMillisecondsInDay() {
                var date = new Date();
                var millis = 0;
                millis += date.getHours() * 60 * 60 * 1000;
                millis += date.getMinutes() * 60 * 1000;
                millis += date.getSeconds() * 1000;
                return millis;
            }, getAuthor(id) {

                var user = null;
                const users = Object.entries(store.state.users);

                for (let i = 0; i < users.length; i++) {
                    if (id == users[i][1]._id) {
                        user = users[i][1];
                    }
                }

                if (!user) {
                    return {
                        name: "Unknown User",
                        identifier: "0000",
                        _id: "0"
                    };
                }

                return user;
            },

            showUserDisplay(object, user) {
                window.events.$emit("user-display", {object: object, user: user});
            }
        },
        mounted() {
            $('.chat-content').scrollTop($('.chat-content')[0].scrollHeight);
            //console.log(this.newMessages);
        },
        updated() {
            $('.chat-content').scrollTop($('.chat-content')[0].scrollHeight);
        },
    }; 
</script>

<style lang="scss" scoped>
   @import '~#/_variables.scss';

    /* Message Styling */

    .profile {
        border-radius: 100px;
        width: 40px;
        height: 40px;
        background-color: #2f3136;
        margin-left: 20px;
        cursor: pointer;
    }

    #username {
        color: rgb(46, 204, 113);
        font-weight: 600;
        cursor: pointer;
        user-select: none;
    }

    #message {
        color: white;
        font-weight: 400;
        margin-bottom: 0px !important;
        font-family: 'Roboto', sans-serif;
        
        &::v-deep .row {
            margin: 0px !important;
            word-wrap: break-word;
            word-break: break-word;
        }
        &::v-deep .mention {
            background-color: rgba(0, 152, 255, 0.2);
            color: rgba(0, 152, 255);
            border-radius: 5px;
            padding-left: 5px;
            padding-right: 5px;
            margin-left: 5px;
            margin-right: 5px;
            font-size: 900;
            cursor: pointer;
            user-select: none;
        }
        br {
            display: none;
        }
        &::v-deep .spoiler {
            background-color: #212121;
            border-radius: 2px;
            color: rgba(255, 255, 255, 0);
            cursor: pointer;
            padding-left: 5px;
            padding-right: 5px;
            width: auto;
        }
        &::v-deep .spoiler:active {
            color: rgba(255, 255, 255, 1);
        }

        &::v-deep b {
            font-weight: 1000 !important;
        }

        .message-list {
            display: flex;
            flex-direction: column;
        }
    }

    #emoji {
        font-family: Segoe UI Emoji !important;
        font-size: 20px;
    }

    #time {
        color: grey;
        font-size: 11px;
    }

    /* Chat Title */

    #chat-title {
        height: 50px;
        padding-left: 10px;
        border-bottom: $d_background 1px solid;
        background-color: $d_background;
    }

    .hashtag {
        font-size: 21px;
        color: $secondary_text;
        margin-top: 8px;
    }

    .channel-name {
        font-size: 16px;
        margin-top: 11px;
        margin-left: 5px;
        margin-right: 10px;
    }

    #description {
        height: 30px;
        margin-top: 10px;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 10px;
        border-left: #3e4147 1px solid;
        text-overflow: ellipsis;
        width: 55%;
        overflow:hidden;
        color: $secondary_text;
    }

    .chat-content {
        overflow-y: auto;
        height: calc(100vh - 126px);
        padding-bottom: 30px;
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px;
        width: 100%;
        overflow-x: hidden;
        scrollbar-color: hsla(0,0%,100%,.2) #2f3136;
    }

    .msg-options {
        position: absolute;
        right: 0px;
        width: 20px;
        height: 20px;
        padding-bottom: 20px;
        user-select: none;
        cursor: pointer;
        border-radius: 100px;
        font-size: 20px;
        margin-top: -0px;
        color: gray;
        padding-left: 6px;
        line-height: 22px;
        display: none;
    }

    .msg-options:after {
        content: '\2807';
    }

    #message:hover .msg-options {
        display: block;
    }
</style>
