<template>
  <div v-if="shown" class="card shadow" id="user-settings">
    <div class="save shadow" v-if="unsavedChanges">
      <a>Watch Out - You have unsaved changes</a>
      <div class="options">
        <a v-on:click="DiscardButton();">Discard</a>
        <a class="btn btn-primary" v-on:click="Save();">SAVE CHANGES</a>
      </div>
    </div>
    <div class="row">
      <div class="col-3 nav">
        <div class="col">
          <a class="label">USER SETTINGS</a>
          <ul class>
            <li v-on:click="SetTab('profile')" v-bind:class="{selected: tab == 'profile'}"><a>My Account</a></li>
            <li v-on:click="SetTab('privacy')" v-bind:class="{selected: tab == 'privacy'}"><a>Privacy & Safety</a></li>
            <li v-on:click="SetTab('voice')" v-bind:class="{selected: tab == 'voice'}"><a>Voice & Video</a></li>
            <li v-on:click="SetTab('notifications')" v-bind:class="{selected: tab == 'notifications'}"><a>Notifications</a></li>
            <li v-on:click="SetTab('text')" v-bind:class="{selected: tab == 'text'}"><a>Text & Images</a></li>
            <li v-on:click="SetTab('appearance')" v-bind:class="{selected: tab == 'appearance'}"><a>Appearance</a></li>
            <li v-on:click="SetTab('language')" v-bind:class="{selected: tab == 'language'}"><a>Language</a></li>
            <li v-on:click="logOut();" class="error"><a>Log Out</a></li>
          </ul>
        </div>
      </div>
      <div class="col-9 content">
        <div class="col">
          <div class="brand" style="padding-top: 0px;">
            <div class="title row">
              <a>MY ACCOUNT</a>
            </div>
            <ProfileRow></ProfileRow>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import ProfileRow from './Components/Profile';

export default {
    components: {
        ProfileRow
    },

  data() {
    return {
      api: window.settings.api,
      shown: false,
      tab: "profile",
      unsavedChanges: false,
      data: {
        brand: {
          invite: ""
        },
        css: ""
      }
    };
  },
  
  created() {
    window.events.$on(
      "user-settings",
      function() {
        this.shown = true;
        this.tab = "brand";
        this.unsavedChanges = false;

        //Default value
        if (this.selectedGuild.css != "") {
          this.data.css = this.selectedGuild.css;
        } else {
          this.data.css = "/* Enter your custom server CSS here */\n";
        }

        this.data = {
          brand: {
            invite: this.selectedGuild.settings.invite,
            name: this.selectedGuild.name
          },
          css: this.selectedGuild.css
        };

        setTimeout(
          function() {
            this.Displayed();
          }.bind(this),
          100
        );
      }.bind(this)
    );
  },

  destroyed() {
    $("#user-settings .content > .col")[0].removeEventListener(
      "scroll",
      this.CalculateTab
    );
  },

  methods: {

    DiscardButton() {
      this.unsavedChanges = false;
      window.modal.DiscardTopModal();
    },

    Displayed() {
      //Register modal with modal manager
      window.modal.RegisterModal(this, $("#user-settings"));

      //Setup scrolling
      const pixelsBeforeChange = 200;
      $("#user-settings .content > .col")[0].addEventListener(
        "scroll",
        this.CalculateTab
      );
      this.tabs = ["brand", "moderation", "css", "members"];
      this.tabsOffsets = [];

      for (var i = 0; i < this.tabs.length; i++) {
        const startDisplay = $("#user-settings .content .col > ." + this.tabs[i])[0].offsetTop;
        this.tabsOffsets[i] = startDisplay;
      }

      //Loop through items in tabs
      Object.keys(this.inputs).forEach(tab => {
        var tabData = this.inputs[tab];

        tabData.forEach(item => {
          $(".guild .content *[name=" + item + "]").keyup(
            function(e) {
              this.unsavedChanges = true;
              this.data[tab][item] = e.target.value;
            }.bind(this)
          );
        });
      });
    },

    logOut() {
        //Delete all cookies
        document.cookie.split(";").forEach(function(c) {
            document.cookie = c.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/");
        });
        location.reload();
    },


    Discard() {
      if (this.unsavedChanges) {
        //Stop the popup from closing
        return true;
      }
      this.shown = false;
    },

    CalculateTab() {
      //How many pixels before the tab should we change the tab to it
      const scrollTop = $("#user-settings .content > .col")[0].scrollTop;
      var tab = "";

      for (var i = this.tabs.length - 1; i >= 0; i--) {
        if (scrollTop > this.tabsOffsets[i]) {
          tab = this.tabs[i];
          break;
        }
      }

      if (!tab) {
        tab = this.tabs[0];
      }

      this.tab = tab;
    },

    SetTab(tab) {
      this.tab = tab;
      var tabId = 0;

      for (var i = 0; i < this.tabs.length; i++) {
        if (this.tabs[i] == tab) {
          tabId = i;
          break;
        }
      }

      $("#user-settings .content > .col").animate(
        { scrollTop: this.tabsOffsets[tabId] + 50 },
        "500"
      );
    }
  },
  computed: {
    selectedGuild() {
      return store.state.selectedGuild.guild;
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~#/_variables.scss";

#user-settings {
  width: 100vw;
  max-width: 850px;
  height: 96vh;
  top: 2vh;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  position: absolute;
  z-index: 3;
  background-color: $l2_background;
  animation: show 0.1s;
  overflow: hidden;
}

.content {
  padding: 0px;
}

.content > .col > div {
  padding-top: 40px;
}

.content > .col {
    height: 100vh;
    max-width: 850px;
    padding: 30px 15px 30px 15px;
    height: 100vh;
    overflow: auto;
}

.nav {
    background-color: $background;
    height: 100vh;
    padding-top: 30px;

    .col {
        height: 96vh;
        position: absolute;
        right: 0px;
        max-width: 200px;
    }
}

* {
  &::v-deep {
    input,
    textarea,
    .form-control {
      background-color: $background !important;
    }
  }
}

/* Save System */
.save {
  width: 90%;
  height: 55px;
  position: absolute;
  bottom: 10px;
  padding-top: 15px;
  border-radius: $default_roundness;
  z-index: 5;
  background-color: $l_background;
  animation: show 0.1s;
  left: 5%;

  .options {
    position: absolute;
    right: 10px;
    top: 10px;

    .btn {
      margin-left: 10px;
    }
    a {
      user-select: none;
      cursor: pointer;
    }
  }

  > a {
    padding-left: 10px;
    font-size: 16px;
  }
}

</style>
