<template>
<!-- Modal -->
    <div id="profile-modal" class="card shadow">
        <div class="col">
            <div class="row header" v-bind:style="{ 'background-image': 'url(\'https://images.unsplash.com/photo-1565855991995-7a5ceb19ee95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80\')' }">
                <div class="col">
                    <div class="row">
                        <div class="info">
                            <img v-bind:src="api + 'user/' + user._id + '/profile'">
                            <div class="blur">
                                <div class="row">
                                    <span><a class="name">{{ user.name }}</a>
                                    <a class="identifier">#{{ user.identifier }}</a></span>
                                </div>
                                <div class="row status">
                                    <a>Playing <b>Thiscord 2020 Simulator</b></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row tabs">
                        <a class="active">User Info</a>
                        <a>Mutual Servers</a>
                        <a>Mutual Friends</a>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="col">
                    <div class="row user-info">
                        <div class="col">
                            <a>{{ new Date().getHours() + ":" + new Date().getMinutes() + "(NZT)" }}</a>
                        </div>
                    </div>
                    <div class="row note">
                        <div class="col">
                            <label>NOTE</label>
                            <br>
                            <textarea>That one amazing thiscord developer</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {

    mounted() {
            this.user = this.$parent.user;
        $('#small-user-display').hide();

        //Register modal with modal manager
        window.modal.RegisterModal(this, $("#profile-modal"));
    },

    data() {
        return {
            api: window.settings.api,
            user: {}
        };
    },

    methods: {    
        
        Discard() {
            this.$parent.profileShown = false;
        },

    },
}
</script>

<style lang="scss" scoped>
   @import '~#/_variables.scss';

    #profile-modal {
        position: fixed;
        left: 0px;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 700px;
        z-index: 3;
        top: 100px;
        animation: show 0.1s;
        background-color: $background;
    }

    .header {
        height: 280px;
        background-size: cover;
        border-top-left-radius: $default_roundness;
        border-top-right-radius: $default_roundness;

        .info {
            position: absolute;
            width: 40%;
            left: 0px;
            right: 0px;
            margin: auto;
            top: 20px;
            border-radius: $default_roundness;
            background-color: rgba(100, 100, 100, 0.2);
            height: 200px;
            backdrop-filter: blur(10px);
            background: linear-gradient(0deg, transparent 0%, rgba(10, 10, 10, 0.2) 50%);

            img {
                width: 100px;
                height: 100px;
                display: block;
                border-radius: $default_roundness;
                margin: auto;
                margin-top: 20px;
            }

            .name {
                font-size: 20px;
            }

            .identifier {
                color: $secondary_text;
                font-size: 15px;
            }

            span {
                text-align: center;
                width: 100%;
            }
        }

        .tabs {
            margin-top: 240px;
            height: 40px;
            border-bottom: 1px grey solid;
            background-color: $l2_background;
            border-top-left-radius: $default_roundness;
            border-top-right-radius: $default_roundness;
            font-weight: black;
            backdrop-filter: blur(2px);
            cursor: pointer;

            a {
                margin-top: 10px;
                padding-left: 15px;
                padding-right: 15px;
                color: $secondary_text;
                font-weight: black;
                transition: color,border-bottom 0.1s ease-in;
            }

            .active {
                color: white;
                border-bottom: 2px white solid;
            }

            a:hover {
                color: white;
                border-bottom: 2px white solid;
            }
        }
    }
    
    .content .row {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .note {
        textarea {
            width: 100%;
        }
    }

    .status a {
        color: $green;
        width: 100%;
        text-align: center;
        display: block;
    }

    .user-info {
        border-bottom: 1px grey solid;
        color: grey;
    }

</style>