<template>
    <div class="col">
        <div class="row">
            <div class="icon-column">
                <br>
                <div class="icon">
                    <ImagePreview v-on:changed="IconChanged();" height="100px" width="100px" name="user-settings-icon-preview" v-bind:default_src="profileUrl"></ImagePreview>
                </div>
                <center><label for="icon">UPLOAD ICON</label></center>
            </div>
            <div class="col">
                <label for="name">NAME</label>
                <input v-model="data.name" class="form-control" id="name" type="text" name="name" >
                <br>
                <label for="invite">IDENTIFIER</label>
                <div class="form-control">
                    <input id="invite" v-model="data.identifier" type="text" name="invite" maxlength=10 >
                </div>
            </div>
        </div>
        <br>
    </div>
</template>
<script>
import ImagePreview from '@/app/core/components/ImagePreview';

    export default {

        components: {
            ImagePreview
        },

        props: ['guild'],
        data () {
            return {
                api: window.settings.api,
                data: {
                    name: '',
                    identifier: ''
                }
            };
        },
        computed: {
            user() {
                return this.$store.state.user;
            },
            profileUrl() {
                return api + 'user/' + this.user._id + '/profile';
            }
        },
        created() {
            this.data.name = this.user.name;
            this.data.identifier = this.user.identifier;
        },
        methods: {
            PreviewIcon() {
                $.PREVIEW('.guild .icon-column input', '.guild .icon-column .placeholder');

                var fd = new FormData();
                var files = $('.guild .icon-column input')[0].files[0];
                fd.append('icon', files);

                $.PATCH('guild/' + this.user._id + "/updateicon", fd, function (result) {
                    console.log(result);
                });
            },
        }
    }
</script>

<style lang="scss" scoped>
   @import '~#/_variables.scss';

    .backdrop {
        width: 100%;
        height: 150px;
        border-radius: $default_roundness;
        background-color: $background;
        background-size: cover;
        background-position: center;

        div {
            background-color: rgba(20, 20, 20, 0.7);
            opacity: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
            transition: opacity 0.1s ease-in;
            border-radius: $default_roundness;

            div {
                padding-top: 65px;
                font-size: 15px;
                font-weight: 900;
                color: $secondary_text;
                width: 100%;
                text-align: center;

            }
        }
    }

    .backdrop div:hover {
        opacity: 1;
    }

    .placeholder {
        height: 85px;
        width: 85px;
        margin-left: 20px;
    }

    /* Overview Area */
    
    .icon-column {
        width: 133px;
        margin-right: 10px;
    }

    .locked {
        color: $secondary_text !important;
        position: relative;
        top: 2px;
        cursor: not-allowed;
    }

    #invite {
        position: relative;
        top: 2px;
        left: -10px;
        width: calc(100% - 132px);
        background-color: transparent !important;
    }

    .icon-column input[name=icon] {
        width: 133px;
        height: 120px;
        opacity: 0;
        position: absolute;

        cursor: pointer;
    }

    .icon{ 
        border-radius: $default_roundness;
        overflow: hidden;
        margin-left: 15px;
        height: 100px;
        width: 100px;
    }
</style>
