<template>
    <div class="members editable">
        <div class="search">
            <input placeholder="Search" type="search">
            <a class="mentions">@</a>
            <a class="help">?</a>
        </div>
        <div class="col users">
            <div class="list">
                <div class="user" v-for="user in users" v-bind:key="user._id" v-bind:profile="user._id" v-on:click="showUserDisplay(user._id)">
                    <img v-bind:style="{filter: user.presence == 0 ? 'grayscale(100%)' : ''}" v-bind:src="api + 'user/' + user._id + '/profile'">
                    <b v-bind:style="{fontWeight: user.presence == 0 ? '1' : 'bold'}">{{ user.name }}</b>
                    <div v-if="user.presence != 0" class="presense"></div>
                </div>
            </div>
        </div>
        <div class="settings">

        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                api: window.settings.api
            };
        },
        computed: {
            users() {
                var onlineUsers = [];
                var offlineUsers = [];

                if (!store.state.selectedGuild.guild.members) {
                    return [];
                }

                Object.entries(store.state.selectedGuild.guild.members).forEach(user => {
                    if (user[1].presence == 2) {
                        onlineUsers.push(user[1]);
                    } else {
                        offlineUsers.push(user[1]);
                    }
                });

                var orderedUsers = [];
                orderedUsers.push(...onlineUsers);
                orderedUsers.push(...offlineUsers);

                return orderedUsers;
            }
        },

        methods: {
            showUserDisplay(user) {
                window.events.$emit("user-display", {object: $(".members .users *[profile=" + user + "]")[0], user: user});
            }
        }
    }
</script>


<style lang="scss" scoped>
   @import '~#/_variables.scss';

    .users {
        width: 250px;
        height: calc(100vh - 100px);
        padding-top: 10px;

        .user {
            transition: all 0.1s ease-in;
            cursor: pointer;
            user-select: none;
            border-radius: $default_roundness;
            padding-top: 5px;
            padding-bottom: 5px;
            height: 40px;

            img {
                height: 30px;
                width: 30px;
                border-radius: 100px;
                margin-left: 10px;
                background-color: $l_background;
            }

            .presense {
                position: relative;
                height: 14px;
                width: 14px;
                top: -12px;
                left: 28px;
                background-color: #43b581;
                border-radius: 100px;
                border: $background 2px solid;
            }

            b {
                font-size: 15px;
                font-weight: bold;
                position: relative;
                top: 0px;
                bottom: 0px;
                margin: auto;
                left: 8px;
                height: 20px;
                width: 160px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-flex;
            }
        }
        .user:hover {
            background: $l_background;
        }
    }

    .search {
        height: 50px;
        background-color: $d_background;
        border-bottom: $d_background 1px solid;
        padding-top: 10px;
        user-select: none;

        input {
            width: 150px;
            background-color: $background !important;
            border-color: $background !important;
            padding-left: 5px;
        }

        .mentions {
            font-size: 20px;
            padding-left: 10px;
            padding-right: 10px;
            cursor: pointer;
        }

        .help {
            font-size: 20px;
            padding-left: 10px;
            padding-right: 10px;
            cursor: pointer;
        }
    }

    .settings {
        height: 50px;
        width: 100%;
        background-color: $d_background;
    }
</style>