<template>
    <div class="row" id="app">
        <usersettings           v-if="loggedIn"></usersettings>
        <guildsettings          v-if="loggedIn"></guildsettings>
        <userdisplay            v-if="loggedIn"></userdisplay>
        <navigationslice        v-if="loggedIn"></navigationslice>
        <chatslice              v-if="loggedIn"></chatslice>
        <memberslice            v-if="loggedIn"></memberslice>
        <loginscreen            v-if="!loggedIn"></loginscreen>
        <notifications></notifications>
    </div>
</template>

<script>
import usersettings     from '@/app/modules/UserSettings/UserSettings.vue';
import guildsettings    from '@/app/modules/GuildSettings/GuildSettings.vue';
import userdisplay      from '@/app/modules/UserDisplay/UserDisplay.vue';
import navigationslice  from '@/app/modules/NavigationSlice/NavigationSlice.vue';
import chatslice        from '@/app/modules/ChatSlice/ChatSlice.vue';
import memberslice      from '@/app/modules/MemberSlice/MemberSlice.vue';
import loginscreen      from '@/app/modules/LoginScreen/LoginScreen.vue';
import notifications    from '@/app/modules/Notifications/Notifications.vue';

export default {
    components: {
        usersettings,
        guildsettings,
        userdisplay,
        navigationslice,
        chatslice,
        memberslice,
        loginscreen,
        notifications
    },
    computed: {
        loggedIn() {
            if (window.store.state.user.loggedIn) {
                return window.store.state.user.loggedIn;
            } else {
                return false;
            }
        }
    }
}
</script>

<style lang="scss" scoped>
    @import '~#/_variables.scss';

    #app {
        margin: 0px !important;
    }

</style>