<template>
    <div class="css">
        <div class="col">
            <textarea v-model="data.css" class="css" v-on:keyup="Changed();" v-on:keyup.enter="BracketComplete();"></textarea>
            <br />
            <a class="label">CSS SELECTOR CHEAT SHEET</a>
            <CSSSelectorCheatSheet></CSSSelectorCheatSheet>
        </div>
    </div>
</template>

<script>

import CSSSelectorCheatSheet from '../Components/CSSSelectorCheatSheet';

export default {
    components: {
        CSSSelectorCheatSheet,
    },

    computed: {
        data() {
            return this.$parent.data;
        }
    },

    methods: {
        //Very basic features to make editing css easier
        BracketComplete() {
            var KEYTAB = "  "; //TODO Move this into settings of some sort

            if (window.getSelection) {
                try {
                    // We grab text area and fetch the index the cursor is at
                    var textArea = document.activeElement;
                    var index = textArea.selectionStart;
                    // Grab data, and our selected key
                    var newText = this.data.css;
                    var selectedText = newText.substring(index - 2, index - 1);
                    if (
                        selectedText === "{" ||
                        (selectedText.length < 2 && selectedText === "{")
                    ) {
                        newText += KEYTAB + "\n} ";
                        textArea.value = newText;
                        textArea.focus();
                        // Set our position, Tab length plus the newline character
                        textArea.selectionStart = index + KEYTAB.length;
                        textArea.selectionEnd = index + KEYTAB.length;
                    }
                } catch (ex) {
                    console.warn("Can't get Selection! " + ex);
                }
                return;
            }
        },

        Changed() {
            this.$parent.unsavedChanges = true;
        }
    }
}
</script>

<style lang="scss" scoped>

@import "~#/_variables.scss";

/* CSS */
textarea {
    width: 100%;
    padding: 10px;
    border-radius: $high_roundness;
    max-height: 400px;
    min-height: 200px;
    overflow-y: auto;
    background-color: $d_background !important;
}

div {
  &::v-deep .title {
    padding-bottom: 10px;

    a {
      background: $l_background;
      border-radius: 100px;
      padding-left: 10px;
      z-index: 1;
      padding-right: 10px;
    }
  }
}
</style>