<template>
    <div>
        <div class="card shadow" v-show="show" id="small-user-display">
            <div class="profile" v-on:click="profileShown = true;" v-bind:style="{ 'background-image': 'url(\'' + api + 'user/' + user._id + '/profile\')'}">
            </div>
            <div class="content">
                <b class="name">{{ user.name }}<a>#{{ user.identifier }}</a></b>
                <a class="label">STATUS</a>
                <div class="row" style="margin-top: 5px;">
                    <div class="col-4">
                        <div id="status-image"></div>
                    </div>
                    <div class="col-8">
                        <a class="status-title">TODO</a>
                        <br>
                        <a class="status-desc">Smh good ole dark needs to implement a status system before this works</a>
                    </div>
                </div>
                <br>
                <input class="form-control" type="text" v-bind:placeholder="'Message' + user.name">
            </div>
        </div>
        <ProfileModal v-if="profileShown"></ProfileModal>
    </div>
</template>

<script>

import ProfileModal from './Components/ProfileModal';

export default {
    components: {
        ProfileModal
    },

    data() {
        return {
            api: window.settings.api,
            user: {
                _id: "0",
                name: "Default User",
                identifier: "-1000"
            },
            show: false,
            profileShown: false
        };
    },
    mounted() {

        $(document).keyup(function(e){
            if(e.key == "Escape"){
                // Close my modal window
                this.show = false;
            }
        }.bind(this)); 

        window.events.$on('user-display', function(info) {
            var pos = info.object.getBoundingClientRect();
            //Check if its on right half of screen
            if ($(window).width() / 2 < pos.x) {

                $("#small-user-display").css('top', (pos.y / 1.5) + "px");
                $("#small-user-display").css('left', (pos.x - pos.width - 30) + "px");

            } else {
                //Left half

                $("#small-user-display").css('top', (pos.y / 1.5) + "px");
                $("#small-user-display").css('left', (pos.x + pos.width - 20) + "px");

            }
            this.show = true;

            this.user = window.store.state.users[info.user];
        }.bind(this));

        $(document).mousedown(function(event) {
            //If not clicking on the display
            if(!$('#small-user-display')[0].contains(event.target)) {
                this.show = false;
            }        
        }.bind(this));
    }
}
</script>

<style lang="scss" scoped>
   @import '~#/_variables.scss';

    @keyframes show {
        from {
            opacity: 0;
            transform: translateX(10px);
        }
        to {
            opacity: 1;
            transform: translateX();
        }
    }

    #small-user-display {
        position: absolute;
        left: 200px;
        top: 200px;
        width: 250px;
        animation: show 0.05s;
        z-index: 3;
        overflow: hidden;

        .profile {
            width: 100%;
            border-radius: $high_roundness $high_roundness 0px 0px;
            background-position: center !important;
            background-size: cover;
            border-bottom: 1px grey solid;
            background-color: $d_background;
        }
    
        .name {
            font-size: 26px;
            padding-bottom: 10px;
            position: relative;
            
            a {
                font-size: 20px;
                color: $secondary_text;
            }
        }

        .profile {
            display: block;
            position: relative;
            height: 170px;
            width: 100%;
            background-size: cover;
            transition: transform 0.1s ease-in;
            cursor: pointer;
        }

        .profile:hover {
            transform: scale(1.03);
        }
    }


    #status-image {
        width: 70px;
        height: 70px;
        border-radius: $high_roundness;
        background-color: $l_background;
        background-size: cover;
        background-position: center;
    }

    .status-title {
        font-weight: 900;
        overflow: hidden;
        width: 100%;
    }

    .status-desc {
        color: $secondary_text !important;
        font-size: 12px;
        line-height: 1.1;
        max-height: 40px;
        overflow: hidden;

        display: -webkit-box;
        margin: 0 auto;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .card input {
        background-color: $background !important;
        margin-top: 15px;
        border-radius: $high_roundness;
    }

    .content {
        padding: 10px;
        padding-top: 10px;
        display: flex;
        flex-direction: column;
    }
</style>
