<template>
    <div class="col">
        <div class="row">
            <div class="icon-column">
                <br>
                <div class="icon">
                    <ImagePreview v-on:changed="IconChanged();" height="100px" width="100px" name="guild-settings-icon-preview" v-bind:default_src="iconUrl"></ImagePreview>
                </div>
                <center><label for="guild-settings-icon-preview-input">UPLOAD ICON</label></center>
            </div>
            <div class="col">
                <label for="name">SERVER NAME</label>
                <input v-model="brand.name" class="form-control" id="name" type="text" name="name" >
                <br>
                <label for="invite">SERVER INVITE</label>
                <div class="form-control invite">
                    <label for="invite" class="locked" >https://thiscord.com/i/</label>
                    <input id="invite" v-model="brand.invite" v-on:input="BrandTyped" type="text" name="invite" maxlength=20 >
                </div>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col backdrop">
                <label for="guild-settings-backdrop-preview-input">GUILD BACKDROP</label>
                <div class="backdrop-input">
                    <ImagePreview v-on:changed="BackgroundChanged();" height="150px" width="100%" name="guild-settings-background-preview" v-bind:default_src="backgroundUrl"></ImagePreview>
                </div>
                <br>
                <a class="label">EXAMPLE INVITE</a>
                <GuildJoinDummy></GuildJoinDummy>
            </div>
        </div>
    </div>
</template>
<script>
import GuildJoinDummy from './GuildJoinDummy';
import ImagePreview from '@/app/core/components/ImagePreview';

    export default {
        components: {
            GuildJoinDummy,
            ImagePreview
        },

        props: ['guild'],
        data () {
            return {
                api: window.settings.api,
            };
        },

        computed: {
            selectedGuild() {
                return this.$store.state.guilds[this.guild];
            },
            iconUrl() {
                return this.api + 'guild/' + this.selectedGuild._id + '/icon';
            },
            backgroundUrl() {
                return this.api + 'guild/' + this.selectedGuild._id + '/background';
            },
            brand() {
                return this.$parent.data.brand;
            }
        },
        methods: {
            IconChanged() {
                this.$parent.unsavedChanges = true;
              
                this.brand.icon = $("#guild-settings #guild-settings-icon-preview-input")[0].files[0];
            },
            BackgroundChanged() {
                this.$parent.unsavedChanges = true;

                this.brand.background = $("#guild-settings #guild-settings-background-preview-input")[0].files[0];
            },
            BrandTyped(event) {
                if (event.data == " ") {
                    this.$parent.data.brand.invite = event.target.value.replace(" ", "-");
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
   @import '~#/_variables.scss';

    .backdrop div:hover {
        opacity: 1;
    }

    /* Overview Area */
    
    .icon-column {
        width: 133px;
        margin-right: 10px;

        input[name=icon] {
            width: 133px;
            height: 120px;
            opacity: 0;
            position: absolute;

            cursor: pointer;
        }
    }

    .locked {
        color: $secondary_text !important;
        position: relative;
        top: 2px;
        cursor: not-allowed;
    }

    

    .icon {
        border-radius: $default_roundness;
        overflow: hidden;
        margin-left: 15px;
        height: 100px;
        width: 100px;
    }

    .backdrop-input {
        border-radius: $default_roundness;
        overflow: hidden;
        height: 150px;
        width: 100%;
    }

    .invite {
        display: table;

        #invite {
            position: relative;
            top: 2px;
            left: -10px;
            width: 100%;
            background-color: transparent !important;
            display: table-cell;
        }

        label {
            width: 1px;
            display: table-cell;
            padding-right: 3px;
            font-size: .8em;
        }
    }
</style>
margin