<template>
    <div class="row">
        <div class="col">
            <div id="cheat-sheet" v-on:click="Clicked();" class="shadow">
                <div class="row">
                    <div id="guilds" class="col-1" v-on:mouseover="selectedObject = selectableObjects.guilds" v-on:mouseleave="selectedObject = selectableObjects.nothing">
                        <div class="circle selectable"></div>
                        <div class="circle selectable"></div>
                        <div class="circle selectable"></div>
                        <div class="circle selectable"></div>
                    </div>
                    <div id="channels" v-on:mouseover="selectedObject = selectableObjects.channel" v-on:mouseleave="selectedObject = selectableObjects.nothing" class="col-2">
                        <div class="title"></div>
                        <div class="divider"></div>
                        <div class="channel selectable" style="width: 40%;"></div>
                        <div class="channel selectable" style="width: 70%;"></div>
                        <div class="channel selectable" style="width: 20%;"></div>
                        <div class="channel selectable" style="width: 50%;"></div>
                    </div>
                    <div id="chat" class="col-7">
                        <div class="title-bar row" v-on:mouseover="selectedObject = selectableObjects.titleBar" v-on:mouseleave="selectedObject = selectableObjects.nothing">
                            <div class="title selectable"></div>
                            <div class="desc selectable"></div>
                        </div>
                        <div class="chat-bar row" v-on:mouseover="selectedObject = selectableObjects.chatBar" v-on:mouseleave="selectedObject = selectableObjects.nothing">
                            <div class="type selectable"></div>
                            <div class="emoji"></div>
                        </div>

                        <div class="messages" v-on:mouseover="selectedObject = selectableObjects.chatMessage" v-on:mouseleave="selectedObject = selectableObjects.nothing">
                            <div class="row msg">
                                <div class="col profile">
                                    <div></div>
                                </div>
                                <div class="col">
                                    <div class="name" style="width: 24px"></div>
                                    <div class="message selectable" style="width: 70%"></div>
                                </div>
                            </div>
                            <div class="row msg">
                                <div class="col profile">
                                    <div></div>
                                </div>
                                <div class="col">
                                    <div class="name" style="width: 30px"></div>
                                    <div class="message selectable" style="width: 50%"></div>
                                </div>
                            </div>
                            <div class="row msg">
                                <div class="col profile">
                                    <div></div>
                                </div>
                                <div class="col">
                                    <div class="name" style="width: 13px"></div>
                                    <div class="message selectable" style="width: 60%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="members" class="col-2" v-on:mouseover="selectedObject = selectableObjects.members" v-on:mouseleave="selectedObject = selectableObjects.nothing">
                        <div class="row">
                            <div class="col profile-div">
                                <div class="profile"></div>
                            </div>
                            <div class="col">
                                <div class="name selectable" style="width: 80%"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col profile-div">
                                <div class="profile"></div>
                            </div>
                            <div class="col">
                                <div class="name selectable" style="width: 100%"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col profile-div">
                                <div class="profile"></div>
                            </div>
                            <div class="col">
                                <div class="name selectable" style="width: 90%"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col profile-div">
                                <div class="profile"></div>
                            </div>
                            <div class="col">
                                <div class="name selectable" style="width: 95%"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col profile-div">
                                <div class="profile"></div>
                            </div>
                            <div class="col">
                                <div class="name selectable" style="width: 75%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="col info">
            <a class="label">SELECTED OBJECT</a>
            <br>
            <input readonly v-bind:value="selectedObject.name">
            <br>
            <a class="label" v-if="selectedObject.class">OBJECT CLASS</a>
            <br>
            <input v-if="selectedObject.class" id="copy" readonly v-bind:value="selectedObject.class">
            <br>
            <a v-if="selectedObject.example" class="label">EXAMPLE CSS</a>
            <br>
            <div v-if="selectedObject.example" class="code">{{ selectedObject.example }}</div>
            <a class="label" style="color: green !important;" v-if="copied">COPIED TO CLIPBOARD</a>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            copied: false,
            selectedObject: {
                name: "Anything",
                class: "*",
                example: "* { background-color: pink; }"
            },
            selectableObjects: {
                nothing: {
                    name: "Anything",
                    class: "*",
                    example: "* { background-color: pink; }"
                },
                unchangable: {
                    name: "Unchangable"
                },
                channel: {
                    name: "Channel",
                    class: ".channel",
                    example: ".channel { color: pink; }"
                },
                titleBar: {
                    name: "Channel",
                    class: "#chat-title",
                    example: "#chat-title { background-color: pink; }"
                },
                chatMessage: {
                    name: "Chat Messages",
                    class: ".message",
                    example: ".message { color: red; }"
                },
                members: {
                    name: "Members",
                    class: ".users .user",
                    example: ".users .user { color: green; }"
                },
                guilds: {
                    name: "Guilds",
                    class: "Un Editable"
                },
                chatBar: {
                    name: "Chat Bar",
                    class: ".chat-bar",
                    example: ".chat-bar { background-color: purple; }"
                }
            }
        };
    },
    methods: {
        Clicked() {
            var copyText = $("#copy")[0];
            copyText.select();
            document.execCommand("copy");
            
            this.copied = true;
            setTimeout(() => this.copied = false, 1000)
        }
    }
}
</script>


<style lang="scss" scoped>
   @import '~#/_variables.scss';

   #cheat-sheet > .row div:not(#chat):hover .selectable { 
        transform: scale(1.1);
        background-color: rgba(255, 255, 255, 0.2);
        cursor: pointer;
   }

    #cheat-sheet > .row #chat > div:hover .selectable { 
        transform: scale(1.1);
        background-color: rgba(255, 255, 255, 0.2);
        cursor: pointer;
    }

    #cheat-sheet > .row div:hover {
        cursor: pointer;
    }

    #cheat-sheet > .row div .selectable {
        transition: all 0.1s ease-in;
    }

    #cheat-sheet > .row {
        height: 100%;
        margin: 0px;
    }

    .col, .col-1, .col-2, .col-7  {
        padding: 5px;
    }

    #cheat-sheet {
        width: 100%;
        width: 100%;
        height: 200px;
        
        #guilds {
            height: 100%;
            background-color: $d_background;
            height: 100%;
            border-radius: $high_roundness 0px 0px $high_roundness;
            padding-top: 5px;

            .circle {
                border-radius: 100px;
                margin-top: 5px;
                background-color: rgba(255, 255, 255, 0.1);
                width: 20px;
                height: 20px;
            }
        }

        #channels {
            height: 100%;
            background-color: $background;
            height: 100%;
            padding: 0px;
            
            .title {
                width: 80%;
                border-radius: 100px;
                margin-left: 5px;
                margin-top: 10px;
                height: 10px;
                background-color: rgba(255, 255, 255, 0.1);
                padding-bottom: 9px;
            }

            .channel {
                width: 80%;
                border-radius: 100px;
                margin-left: 5px;
                margin-top: 10px;
                height: 6px;
                background-color: rgba(255, 255, 255, 0.1);
                padding-bottom: 9px;
            }

            .divider {
                width: 100%;
            }
        }

        .chat-bar {
            height: 17px;
            position: absolute;
            bottom: 3px;
            width: 96%;
            left: 2%;
            background-color: $l2_background;
            border-radius: 100px;

            .type {
                height: 8px;
                width: 60%;
                border-radius: $default_roundness;
                background-color: rgba(255, 255, 255, 0.1);
                margin-top: 5px;
                margin-left: 3px;
            }

            .emoji {
                height: 10px;
                width: 10px;
                top: 4px;
                border-radius: $default_roundness;
                background-color: rgba(255, 255, 255, 0.1);
                position: absolute;
                right: 6px;
            }
        }

        #chat {
            height: 100%;
            background-color: $l_background;
            height: 100%;
            padding: 0px;
            padding-top: 30px;

            .title-bar {
                height: 30px;
                width: 100%;
                background-color: $l2_background;
                position: absolute;
                top: 0px;
                margin: 0px;
                padding-top: 10px;
            }

            .title {
                height: 10px;
                width: 20%;
                background-color: rgba(255, 255, 255, 0.1);
                margin-right: 20px;
                margin-left: 10px;
                border-radius: $default_roundness;
            }

            .desc {
                height: 10px;
                width: 40%;
                border-radius: $default_roundness;
                background-color: rgba(255, 255, 255, 0.1);
            }

            .row {
                margin: 0px;
            }

            .name {
                margin-top: 6px;
                margin-left: 3px;
                height: 8px;
                width: 40px;
                border-radius: $default_roundness;
                background-color: rgba(255, 255, 255, 0.1);
            }

            .message {
                margin-top: 6px;
                margin-left: 3px;
                height: 8px;
                width: 40px;
                border-radius: $default_roundness;
                background-color: rgba(255, 255, 255, 0.1);
            }

            .profile {
                max-width: 25px;
            }
            .profile div {
                border-radius: 100px;
                margin-top: 5px;
                background-color: rgba(255, 255, 255, 0.1);
                width: 20px;
                height: 20px;
                margin-left: 2px;
            }
        } 
    

        #members {
            height: 100%;
            background-color: $background;
            height: 100%;
            border-radius: 0px $high_roundness $high_roundness 0px;
            padding: 3px;
            padding-right: 8px;

            .row {
                margin: 0px;
            }

            .col {
                padding: 0px;
            }

            .profile-div {
                max-width: 25px;
            }

            .name {
                margin-top: 6px;
                margin-left: 3px;
                height: 10px;
                width: 40px;
                border-radius: $default_roundness;
                background-color: rgba(255, 255, 255, 0.1);
            }

            .profile {
                border-radius: 100px;
                margin-top: 5px;
                background-color: rgba(255, 255, 255, 0.1);
                width: 20px;
                height: 20px;
                margin-left: 2px;
            }
        }

    }

    .info {
        max-width: 220px;

        input {
            width: 100%;
        }
    }
</style>
