<template>
    <div class="card shadow-sm">
        <div class="col guild-background" v-bind:style="{'background-image': 'url(\'' + api + 'guild/' + guild._id + '/background'}">
            <div class="row">
                <div class="col icon">
                    <div class="placeholder" v-bind:style="{'background-image': 'url(\'' + api + 'guild/' + guild._id + '/icon'}"></div>
                </div>
                <div class="col info">
                    <a class="name">{{ guild.name }}</a>
                    <br>
                    <a class="owner">By {{ guild.owner.name }}</a>
                    <div class="row notes">
                        <a class="note">{{ guild.onlineCount }} Online</a>
                        <a class="note">{{ guild.memberCount }} Members</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    data() {
        return {
            api: window.settings.api,
            guild: {}
        };
    },

    created() {
        this.guild = window.store.state.guilds[this.id];
        this.guild.owner = window.store.state.users[this.guild.owner_id];
    },
    computed: {
        id() {
            return window.store.state.selectedGuild.guild._id;
        }
    }
}
</script>

<style lang="scss" scoped>
   @import '~#/_variables.scss';

   * {
        cursor: not-allowed !important;
        user-select: none;
   }

    /* Standard syntax */
    @keyframes show {
        from {
            opacity: 0;
            transform: scale(0.95);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }

    .card {
        width: 400px;
        padding: 50px;
        padding: 0px;
    }

    .guild-background {
        background-size: cover;
        background-position: center;
        border-radius: $high_roundness;
        max-height: 91px;
    }

    .guild-background:after {
        background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1) 75%);
        content: '';
        background-size: cover;
    }

    .note {
        display: block;
        background-color: $l2_background;
        border-radius: 100px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 5px;
        font-weight: 900;
        color: $secondary_text !important;
    }

    .notes {
        float: right;
        margin-top: 20px;
        margin-right: 7px;
        margin-bottom: 10px;
        font-size: 12px;
    }

    .placeholder {
        width: 70px;
        height: 70px;
        border-radius: 15px !important;
        border: 1px;
    }

    .guild-background:hover .join {
        background-color: $green;
        a {
            opacity: 1;
        }
    }

    .icon {
        max-width: 100px;
        padding-top: 10px;
        background-color: $background;
        border-top-left-radius: $high_roundness;
        border-bottom-left-radius: $high_roundness;
    }

    .info {
        padding-top: 10px;
        background: linear-gradient(100deg, $background 10%, RGBA(47, 50, 57, 0.3) 30%, RGBA(47, 50, 57, 0.3) 30%);

        .name {
            font-weight: 900;
            font-size: 20px;
        }

        .owner {
            font-weight: bold;
            font-size: 12px;
            color: $secondary_text !important;
            margin-bottom: 10px;
        }
    }

    .btn {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
    }

    .cancel {
        text-align: left;
        position: relative;
        bottom: -10px;
        text-decoration: underline !important;
        color: $secondary_text !important;
    }

    .actions {
        padding-right: 10px;
    }

</style>
