<template>
    <div class="background">
        <form method="POST" class="login shadow" action="">
            <h3>Welcome<a v-if="!registering"> back</a>!</h3>
            <h5>We're so excited to see you<a v-if="!registering"> again</a>!</h5>

            <div v-if="registering" class="form-group row">
                <div class="col" id="icon-col">
                    <div id="icon-label">
                        <input accept="image/x-png,image/gif,image/jpeg" v-on:change="previewImage();" type="file" name="icon" id="icon">
                        <img id="icon-preview">
                        <a>PROFILE PICTURE</a>
                    </div>
                    <br><br>
                </div>
                <div class="col">
                    <label for="name" class="col-form-label text-md-right">Username</label>
                    <input id="name" v-model="name" v-on:input="Verify();" type="text" v-bind:class="{'is-invalid': error.name, 'form-control': true}" name="name" required autocomplete="name" autofocus>

                    <span v-if="error.name" class="invalid-feedback" role="alert">
                        <strong>{{ error.name }}</strong>
                    </span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col">
                    <label for="email" autofocus class="col-form-label text-md-right">Email</label>
                    <input id="email" v-model="email" v-on:input="Verify();" type="email" v-bind:class="{'is-invalid': error.email, 'form-control': true}" name="email" required autocomplete="email" autofocus>

                    <span v-if="error.email" class="invalid-feedback" role="alert">
                        <strong>{{ error.email }}</strong>
                    </span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col">
                    <label for="password" class="col-form-label text-md-right">Password</label>
                    <input id="password" v-model="password" v-on:input="Verify();" type="password" v-bind:class="{'is-invalid': error.password, 'form-control': true}" name="password" required autocomplete="current-password">
                    <span v-if="error.password" class="invalid-feedback" role="alert">
                        <strong>{{ error.password }}</strong>
                    </span>

                    <a v-if="!registering" class="btn btn-link" href="/passwordreset">
                        Forgot Your Password?
                    </a>
                </div>
            </div>

            <div class="form-group row mb-0">
                <div class="col">
                    <button type="submit" v-on:click="Submit();" onclick="return false;" class="btn form-control btn-primary">
                        {{ registering ? "Register" : "Login" }}
                    </button>
                </div>
            </div>  
            <a class="btn btn-link" v-if="!registering" v-on:click="registering = true">Register for an account</a>
            <a class="btn btn-link" v-if="registering" v-on:click="registering = false">Login to existing account</a>
        </form>
    </div>
</template>

<script>
    export default {
        methods: {
            Submit() {
                if (this.registering) {
                    this.Register();
                } else {
                    this.Login();
                }
            },
            Login() {

                this.Verify();

                if (this.error.email || this.error.password) {
                    return;
                }

                //Get all variables
                $.post(window.settings.api + "user/login", { email: this.email, password: this.password }, function(err, res, result) {
                    $.cookie('token', result.responseJSON.token);

                    //Load into user account
                    //TODO: Fix
                    $("#complete-anim").addClass("complete");
                    window.appManager.Start(window.store);
                }).fail(function(data) {
                    if( data.status == 400) {
                        this.error.password = "Invalid email/password combo";
                        window.log({ text: data.responseJSON.error.message, type: "error" });
                    } else {
                        window.log({ text: "Error connecting to authentication server", type: "error" });
                    }
                }.bind(this));
            },
            Register() {
                
                this.Verify();
                
                if (this.error.email || this.error.password || this.error.username) {
                    alert("Please correct any errors before registering");
                    return;
                }
                
                $.ajax({
                    url: window.settings.api + "user/register",
                    type: "POST",
                    data: new FormData($(".login")[0]),
                    processData: false,
                    contentType: false,
                    success: function(data, status) {
                        this.Login();
                    }.bind(this)
                }).fail(function(data) {
                        alert(data.responseJSON.error.message);
                });
            },
            Verify() {
                if (this.registering) {
                    if (this.name.length < 2) {
                        this.error.name = "Username must be at least 2 characters long";
                        this.error.password = null;
                        return;
                    }
                    if (this.name.length > 50) {
                        this.error.name = "Username must be less than 50 characters long";
                        this.error.password = null;
                        return;
                    }
                }

                this.error.name = null;

                if (this.email.length < 5) {
                    this.error.email = "Email must be at least 5 characters long";
                    this.error.password = null;
                    return;
                }
                if (this.email.length > 50) {
                    this.error.email = "Email must be less than 50 characters long";
                    this.error.password = null;
                    return;
                }

                //Is it valid email?
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                if (!re.test(String(this.email).toLowerCase())) {
                    this.error.email = "That's not a valid email";
                    this.error.password = null;
                    return;
                }

                this.error.email = null;

                if (this.password.length < 7) {
                    this.error.password = "Password must be at least 5 characters long";
                    return;
                }
                if (this.password.length > 50) {
                    this.error.password = "Password must be less than 50 characters long";
                    return;
                }

                this.error.password = null;
            },
            previewImage() {
                const input = $(".login #icon")[0];
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    
                    reader.onload = function (e) {
                        $('.login #icon-preview').attr('src', e.target.result);
                    }
                    
                    reader.readAsDataURL(input.files[0]);
                } else {
                    alert("Your browser does not support file previews, so none will show");
                }
            }
        },
        data() {
            return {
                error: { },
                password: "",
                email: "",
                name: "",
                registering: false
            }
        }
    }
</script>

<style lang="scss" scoped>
   @import '~#/_variables.scss';

   .btn-link {
       color: $primary !important;
       cursor: pointer;
   }

   .background {
        width: 100vw;
        height: 100vh;
        background-image: url("https://source.unsplash.com/1920x1080/?texture,abstract");
        background-size: cover;
   }

    /* Login Area */
    .login, .register {
        width: 500px;
        padding: 50px;
        position: absolute;
        left: 20%;
        top: 10%;
        background-color: $background;
        border-radius: $default_roundness;
    }

    h3, .login h5 {
        width: 100%;
        text-align: center;
    }

    .login h5 {
        color: $secondary_text;
    }

    #icon-preview {
        background-color: $ui_element;
        border-radius: 100%;
        margin: 10px;
        margin-bottom: 5px;
        width: 60px;
        height: 60px;
        cursor: hover;
    }

    #icon-label {
        position: absolute;
        left: 0px;
        right: 0px;
        width: 80px;
        margin-left: auto;
        margin-right: auto;
        background-color: $l2_background;
        border-radius: $default_roundness;
        display: flex;
        flex-direction: column;

        a {
            font-size: 8px;
            padding-left: 5px;
        }
    }

    #icon-col {
        max-width: 100px;
        margin-left: 5px;
    }

    #icon {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;
        width: 100%;
        opacity: 0;
    }

</style>
