<template>
  <div class="send-bar col">
    <div class="typing row" style="opacity: 0;">
      <div class="typing-indicator row"></div>
      <a class="secondary-text" v-if="typers.length != 0">
        <b class="primary-text typing-text">{{ typingText }}</b> is typing...
      </a>
    </div>
    <div class="bar">
      <div class="row chat-bar">
        <a id="file-selector">
          <b>+</b>
        </a>
        <textarea
          rows="1"
          tabindex="-1"
          class="form-control"
          autocomplete="off"
          id="chat-box"
          name="message"
          placeholder="Message"
        ></textarea>
        <a id="emojis">😀</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      canSendTypingIndicator: SVGComponentTransferFunctionElement,
      typers: [],
      typersVouch: [],
      typingIndicator: "",
      typingText: "",
      api: window.settings.api
    };
  },
  methods: {
    SendMessage() {
      const message = $("#chat-box")[0].value;
      $.POST(
        "guild/" + this.selectedChannel.guild + "/" +
          this.selectedChannel.channel + "/message/send",
        { message:  message},
        function(success, data) {
          if (success != "success") {
            window.log({text: data.responseJSON.error.message, type: "error"});
            $("#chat-box")[0].value = message;
          }
        }
      );
      $("#chat-box")[0].value = "";

      return false;
    },
    SendTyping() {
      if (!this.canSendTypingIndicator) {
        return;
      }

      //Send request to server
      $.POST("guild/" + store.state.selectedGuild.guild._id + "/" + store.state.selectedGuild.channel._id + "/type");

      //Limit the typing indicator to once every 3 seconds
      setTimeout(
        function() {
          this.canSendTypingIndicator = true;
        }.bind(this),
        3000
      );

      this.canSendTypingIndicator = false;
    },

    //
    // Typing System
    //
    // Events are sent to the client to show typing indicators, after 4 seconds if the client has not recieved another event (vouch)
    // then the user is deemed to have stopped typing. If they did have a vouch the vouch will be removed and it is expected they send
    // another before the next 4 seconds is up.
    //

    //Update the currently displayed typers shown on screen
    UpdateTypers() {
      if (this.typers.length == 0) {
        this.typingIndicator.css("opacity", 0);
        return;
      }

      var users = "";
      for (var i = 0; i < this.typers.length; i++) {
        users += this.typers[i];
        if (i != this.typers.length - 1) {
          users += ", ";
        }
      }

      this.typingIndicator.css("opacity", 1);
      this.typingText = users;
    },

    //Add typer to list/add vouch if they're already on there
    AddTyper(username) {
      for (var i = 0; i < this.typers.length; i++) {
        if (this.typers[i] === username) {
          //Already a user with that name
          this.AddVouch(username);
          return;
        }
      }

      this.typers.push(username);
      this.UpdateTypers();

      //Schedule a service to remove inactive typers
      setTimeout(
        function() {
          this.AutoRemoveTyper(username);
        }.bind(this),
        4000
      );
    },

    //Remove a typer/remove a vouch
    AutoRemoveTyper(username) {
      //If they have vouch
      for (var i = 0; i < this.typersVouch.length; i++) {
        if (this.typersVouch[i] === username) {
          //Remove vouch and leave
          this.typersVouch.splice(i, 1);

          //Run again in 2s
          setTimeout(
            function() {
              this.AutoRemoveTyper(username);
            }.bind(this),
            4000
          );
          return;
        }
      }

      //Remove them from typers
      for (var i = 0; i < this.typers.length; i++) {
        if (this.typers[i] === username) {
          this.typers.splice(i, 1);
        }
      }

      this.UpdateTypers();
    },

    //Add vouch to list
    AddVouch(username) {
      for (var i = 0; i < this.typersVouch.length; i++) {
        if (this.typersVouch[i] === username) {
          return;
        }
      }

      this.typersVouch.push(username);
    }
  },
  mounted() {
    //Auto send message when press enter
    $("#chat-box").keypress(
      function(e) {
        var key = e.which;
        if (key == 13) {
          // Key code 13 is the ENTER key
          this.SendMessage();
          return false;
        }
      }.bind(this)
    );

    $("#chat-box").on(
      "keydown",
      function() {
        this.SendTyping();
      }.bind(this)
    );

    if (window.socket) {
      //Listen to all incoming messages
      window.socket.on('chat-typing', function(typer) {

        if (typer.user == window.store.state.user._id) {
          return;
        }

        this.AddTyper(window.store.state.users[typer.user].name);
      }.bind(this));
    }

    this.typingIndicator = $(".typing");
  },
  computed: {
    selectedChannel() {
      return {
        channel: store.state.selectedGuild.channel._id,
        guild: store.state.selectedGuild.guild._id
      };
    }
  }
};
</script>


<style lang="scss" scoped>
@import "~#/_variables.scss";
/* Chat Bar */

.send-button {
  background-color: hsla(0, 0%, 100%, 0.2) !important;
  border-color: hsla(0, 0%, 100%, 0.2) !important;
  transition: all 0.1s ease-in;
  color: white;
  border-radius: 1rem;
  width: 100px;
}

.send-button:hover {
  background-color: $ui_element !important;
  border-color: $ui_element !important;
}

#chat-box {
  resize: none;
  height: 37px;
  width: calc(100% - 63px);
  background-color: transparent !important;
  border-color: transparent !important;
  overflow-y: hidden;
  padding-top: 7px;
}

.chat-bar {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  background-color: $l_background;
  border-color: #484b52;
  height: 35px;
  margin-top: 5px;
  border-radius: 50px;
}

.send-bar {
  width: 100%;
  height: 76px;
  max-height: 76px;
  margin-left: -15px;
}

.chat-bar #emojis {
  width: 35px;
  height: 35px;
  font-size: 22px;
  filter: grayscale(100%);
  cursor: pointer;
  transition: all 0.1s ease-in;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.chat-bar #emojis:hover {
  filter: grayscale(0%);
}

.chat-bar #file-selector {
  border-radius: 100px;
  background-color: $ui_element;
  color: #484b52;
  font-size: 22px;
  width: 22px;
  height: 22px;
  margin-top: 6px;
  margin-left: 6px;
  padding-left: 4px;
  padding-bottom: 20px;
  line-height: 34px;
  cursor: pointer;
}

.chat-bar #file-selector b {
  position: relative;
  top: -6px;
  left: 1px;
}

/* Typing Indicator */
.typing {
  padding-top: 5px;
  width: 100%;
  height: 26px;
  background-color: #36393f;
  z-index: 2;
}

.typing b {
  margin-left: 32px;
  font-weight: 600;
}

.typing .typing-indicator {
  width: 5px;
  height: 5px;
  margin: 0px;
  margin-top: 10px !important;
  margin-left: -10px;
  border-radius: 100px;
  box-shadow: 10px 0 0 0 #484b52, 20px 0 0 0 #484b52, 30px 0 0 0 #484b52;
  animation: typingAnimation 1.5s infinite;
}

@keyframes typingAnimation {
  0% {
    box-shadow: 10px 0 0 0 #484b52, 18px 0 0 0 #484b52, 26px 0 0 0 #484b52;
  }
  25% {
    box-shadow: 10px -5px 0 0 #5c5d5f, 18px 0 0 0 #484b52, 26px 0 0 0 #484b52;
  }
  50% {
    box-shadow: 10px 0 0 0 #484b52, 18px -5px 0 0 #5c5d5f, 26px 0 0 0 #484b52;
  }
  75% {
    box-shadow: 10px 0 0 0 #484b52, 18px 0 0 0 #484b52, 26px -5px 0 0 #5c5d5f;
  }
  100% {
    box-shadow: 10px 0 0 0 #484b52, 18px 0 0 0 #484b52, 26px 0 0 0 #484b52;
  }
}

.bar {
  background-color: $d_background;
  width: calc(100% + 30px);
  height: 50px;
  position: absolute;
  left: 0px;
  padding-left: 15px;
}

</style>
