<template>
    <div class="card shadow-sm" v-if="guild">
        <div class="col guild-background" v-bind:style="{'background-image': 'url(\'' + api + 'guild/' + guild._id + '/background'}">
            <div class="row">
                <div class="col icon" v-on:click="Join()">
                    <div class="join">
                        <a class="plus">+</a>
                        <a class="text">JOIN</a>
                    </div>
                    <div class="placeholder" v-bind:style="{'background-image': 'url(\'' + api + 'guild/' + guild._id + '/icon'}"></div>
                </div>
                <div class="col info">
                    <a class="name">{{ guild.name }}</a>
                    <br>
                    <br>
                    <div class="row notes">
                        <a class="note">{{ guild.online }} Online</a>
                        <a class="note">{{ guild.members }} Members</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    data() {
        return {
            api: window.settings.api,
            guild: null,
            id: this.$parent.msg.data
        };
    },
    created() {
        this.$store.dispatch('getInviteInfo', {
            invite: this.id,
            cb: function(data) {
                this.guild = data;
            }.bind(this)
        })

    },
    methods: {
        Join() {
            window.events.$emit('join-guild', this.id);
        }
    }
}
</script>

<style lang="scss" scoped>
   @import '~#/_variables.scss';

    /* Standard syntax */
    @keyframes show {
        from {
            opacity: 0;
            transform: scale(0.95);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }

    .card {
        width: 400px;
        padding: 50px;
        padding: 0px;
        margin-top: 10px;
    }

    .guild-background {
        background-size: cover;
        background-position: center;
        border-radius: $high_roundness;
        max-height: 91px;
        cursor: pointer;
        padding: 0px;
    }

    .guild-background:after {
        background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1) 75%);
        content: '';
        background-size: cover;
    }

    .note {
        display: block;
        background-color: $l2_background;
        border-radius: 100px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 5px;
        font-weight: 900;
        color: $secondary_text !important;
    }

    .notes {
        float: right;
        margin-top: 20px;
        margin-right: 7px;
        margin-bottom: 10px;
        font-size: 12px;
    }

    .placeholder {
        width: 70px;
        height: 70px;
        border-radius: 15px !important;
        border: 1px;
    }

    .join {
        transition: all 0.1s ease-in;
        background-color: rgba(50, 50, 50, 0);
        position: absolute;
        width: 70px;
        height: 70px;
        border-radius: 15px;
        z-index: 2;

        a {
            transition: all 0.1s ease-in;
            opacity: 0;
            width: 100%;
            flex-direction: column;
            display: flex;
            text-align: center;
            font-weight: 900;
        }

        .plus {
            font-size: 30px;
        }

        .text {
            margin-top: -15px;
        }

    }

    .guild-background:hover .join {
        background-color: $green;
        a {
            opacity: 1;
        }
    }

    .icon {
        max-width: 100px;
        padding: 10px;
        background-color: $background;
        border-top-left-radius: $high_roundness;
        border-bottom-left-radius: $high_roundness;
    }

    .info {
        padding-top: 10px;
        background: linear-gradient(100deg, $background 10%, RGBA(47, 50, 57, 0.3) 30%, RGBA(47, 50, 57, 0.3) 30%);

        .name {
            font-weight: 900;
            font-size: 20px;
        }

        .owner {
            font-weight: bold;
            font-size: 12px;
            color: $secondary_text !important;
            margin-bottom: 10px;
        }
    }

    .btn {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
    }

    .cancel {
        text-align: left;
        position: relative;
        bottom: -10px;
        text-decoration: underline !important;
        color: $secondary_text !important;
    }

    .actions {
        padding-right: 10px;
    }

</style>
