<template>
    <div>
        <div v-if="msg.type == 'Message'">
            <div v-html="msg.displayedMessage"></div>
            <div class="msg-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></div>
            <div class="dropdown-menu shadow" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" v-on:click="copy(msg._id);">Copy ID</a><a class="dropdown-item" v-on:click="copy('https://thiscord.com/app/' + channel._id + '/' + msg._id);">Copy Link</a>
            </div>
        </div>

        <div v-if="msg.type == 'Custom'" class="col">
            <component v-bind:is="msg.component"></component>
        </div>
    </div>
</template>

<script>
    import joinguild from './GuildJoinCard';

    export default {

        components: {
            joinguild
        },

        props: ['msg']
    }
</script>