<template>
   <div class="navigation">
        <div class="row">
            <div class="servers">
                <div v-bind:class="{tooltip: true, server, selected: server[1]._id == selectedGuild._id}" v-bind:guild="server[1]._id" data-placement="right" v-for="server in servers" v-bind:key="server[1]._id">
                    <img v-bind:src="api + 'guild/' + server[1]._id + '/icon'" >
                    <span data-placement="right" class="tooltiptext">{{ server[1].name }}</span>
                </div>
                <div class="tooltip server add" v-on:click="guildCreationModal = true">
                    <a>+</a>
                </div>
            </div>
            <div>
                <div class="channels">

                    <div class="dropdown-toggle overflow" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ selectedGuild.name }}
                    </div>
                    <a class="dropdown">▼</a>

                    <!-- Rounded corner -->
                    <div class="top-corner"></div>

                    <div class="dropdown-menu" aria-labelledby="server-dropdown">
                        <a class="dropdown-item" v-bind:copy="selectedGuild.invite" onclick="$.COPY('https://thiscord.com/i/' + this.attributes['copy'].nodeValue);window.log('Copied invite link to clipboard');"><i class="fas fa-users"></i>Invite People</a>
                        <a v-if="isOwner" class="dropdown-item" onclick="window.events.$emit('guild-settings');"><i class="fas fa-cogs"></i>Server Settings</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-bell"></i>Notification Settings</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-user-secret"></i>Privacy Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="fas fa-user-tag"></i>Change Nickname</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-comment-slash"></i>Hide Muted Channels</a>
                        <div class="dropdown-divider"></div>
                        <a v-bind:class="{ 'dropdown-item': true}" v-on:click="leaveServer();"><i class="fas fa-sign-out-alt"></i>Leave Server</a>
                    </div>
                    <ul class="storage editable">
                        <li v-bind:channel="channel[1]._id" v-bind:class="{channel, selected: selectedChannel == channel[1]._id}" v-for="channel in channels" v-bind:key="channel[1]._id">
                            <a v-bind:style="[selectedChannel == channel[1]._id ? {color: 'white !important'} : {color: 'inherit'}]"># {{ channel[1].name }}</a>
                        </li> 
                        <a v-if="selectedGuild.owner_id == user._id" id="create-channel" v-on:click="channelCreationModal = true">+</a>
                    </ul>
                    <div class="options editable">
                        <div class="bottom-corner"></div>
                        <div class="row">
                            <img v-bind:src="api + 'user/' + user._id + '/profile'" class="profile">    
                            <div class="col">
                                <a class="user-name">{{ user.name }}<a class="user-id">#{{ user.identifier }}</a></a>
                                <a class="status overflow">Working on thiscord for a very long time</a>
                            </div>
                            <div class="col-3">
                                <i onclick="window.events.$emit('user-settings');" class="fas fa-cog"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <GuildCreationModal v-if="guildCreationModal"></GuildCreationModal>
        <ChannelCreationModal v-if="channelCreationModal"></ChannelCreationModal>
    </div>
</template>

<script>

    import GuildCreationModal from './Components/GuildCreationModal';
    import ChannelCreationModal from './Components/ChannelCreationModal';

    export default {
        components: {
            GuildCreationModal,
            ChannelCreationModal
        },

        data () {
            return {
                api: window.settings.api,
                guildCreationModal: false,
                channelCreationModal: false
            };
        },

        computed: {
            isOwner() {
                return this.user._id == this.selectedGuild.owner_id;
            },
            servers() {
                //Return guilds as an iteratable list
                return Object.entries(this.$store.state.guilds);
            },
            user() {
                return this.$store.state.user;
            },
            selectedGuild() {
                return this.$store.state.selectedGuild.guild;
            },
            channels() {
                if (this.$store.state.selectedGuild.guild.channels) {
                    return Object.entries(this.$store.state.selectedGuild.guild.channels);
                } else {
                    return [];
                }
            },
            selectedChannel() {
                return this.$store.state.selectedGuild.channel._id;
            }
        },

        mounted() {
            window.TempShowGuildCreation = function() {
                this.guildCreationModal = true;
            }.bind(this);
            window.TempShowChannelCreation = function() {
                this.channelCreationModal = true;
            }.bind(this);
        },

        methods: {
            leaveServer() {

                if (this.isOwner) {
                    window.log({text: "You cannot leave server you are owner of", type: "error"})
                    return;
                }

                window.events.$emit("leave-guild");
            }
        }
    }
</script>

window.events.$emit('user-settings');
TempShowGuildCreation();
TempShowChannelCreation();

<style lang="scss" scoped>
   @import '~#/_variables.scss';

    .top-corner {
        box-shadow: -4px -4px 0 2px $d_background;
        width: 15px;
        height: 15px;
        border-top-left-radius: 15px;
        position: absolute;
        top: 50px;
    }

    .bottom-corner {
        box-shadow: -4px 4px 0 2px $d_background;
        width: 15px;
        height: 15px;
        border-bottom-left-radius: 15px;
        position: absolute;
        margin-top: -15px;
    }

    /* Server Selection/Channel navigation */

    .navigation > .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    .navigation .servers {
        background-color: $d_background;
        padding: 10px;
        height: 100vh;
        width: 72px;
    }

    .navigation .channels {
        height: 100vh;
        width: 250px;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .navigation #create-channel {
        color: $secondary_text;
        border-radius: 100px;
        width: 30px;
        height: 30px;
        float: right;
        right: 0px;
        font-size: 22px;
        cursor: pointer;
        transition: all 0.1s ease-in;
        padding-left: 8px;
        padding-top: 6px;
        margin-right: 10px;
        line-height: 0.9;
        margin-top: 5px;
    }

    .navigation #create-channel:hover {
        background-color: $l_background;
    }
    
    .navigation .channels .storage {
        padding-top: 10px;
        overflow-y: auto;
        height: calc(100% - 100px);
        margin-bottom: 0px;
    }

    .navigation .channels .dropdown-toggle {
        height: 50px;
        font-size: 16px;
        padding: 15px 16px 25px 15px;
        color: $primary_text !important;
        cursor: pointer;
        background-color: $d_background;
        font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
        transition: color 0.1s ease-in;
    }

    .navigation .channels .dropdown-toggle:hover {
        color: $disabled_text !important;
    }

    .navigation .channels .dropdown-arrow {
        position: absolute;
        text-align: right;
        display: block;
        padding-top: 15px;
        padding-right: 10px;
        width: 250px;
        height: 50px;
        cursor: pointer;
        background-color: $d_background;
    }

    .navigation .channels .channel {
        margin-left: 10px;
        margin-right: 10px;
        width: 230px !important;
    }

    .navigation .channels .selected {
        background-color: $l_background !important;
        cursor: auto !important;
    }

    .navigation .server {
        z-index: 1;
    }

    .leave:hover {
        color: $red !important;
    }

    .navigation .server img {
        border-radius: 25px;
        width: 45px;
        height: 45px;
        margin-left: 5%;
        background-color: $l_background;
        margin-bottom: 10px;
        transition: all 0.1s ease-in;
        cursor: pointer;
    }

    .navigation .server img:hover, .navigation .servers .selected img {
        border-radius: $high_roundness !important;
    }


    /* Bottom options bar */

    .navigation .options > .row {
        height: 50px;
        margin-left: 0px;
        margin-right: 0px;
        background-color: $d_background;
    }

    .navigation .options .profile {
        border-radius: 100px;
        height: 30px;
        width: 30px;
        margin-top: 10px;
        margin-left: 10px;
    }

    .navigation .options .user-id {
        color: $primary_text;
        position: absolute;
        top: 5px;
        color: $disabled_text;
        font-size: 10px;
    }

    .navigation .options .user-name {
        position: absolute;
        top: 7px;
        color: $secondary_text;
    }

    .navigation .options .status {
        position: absolute;
        top: 27px;
        font-size: 10px;
        color: $secondary_text;
        width: 100%;
    }

    .add {
        border-radius: 100px;
        width: 45px;
        height: 45px;
        font-size: 30px;
        padding-left: 13px;
        margin-left: 5%;
        background-color: #484b52;
        margin-bottom: 10px;
        transition: all 0.1s ease-in;
        cursor: pointer;
    }

    .add a {
        position: absolute;
        top: -2px;
        user-select: none;
    }

    .fa-cog {
        font-size: 20px;
        margin-top: 14px;
        cursor: pointer;
        //TODO: Remove
        z-index: 100;
    }

    .dropdown-item {
        padding-left: 18px;
        cursor: pointer;
    }

    .dropdown-item i {
        padding-right: 4px;
        width: 30px;
    }

    .dropdown-toggle::after {
        display: none;
    }

    .dropdown {
        position: absolute;
        top: 15px;
        margin-left: 220px;
        user-select: none;
    }
</style>