<template>
  <div class="card shadow-sm">
    <div
      class="col guild-background"
      v-bind:style="{'background-image': 'url(\'' + api + 'guild/' + guild._id + '/background'}"
    >
      <div class="row">
        <div class="col icon">
          <div class="join">
            <a class="plus">+</a>
            <a class="text">JOIN</a>
          </div>
          <div
            class="placeholder"
            v-bind:style="{'background-image': 'url(\'' + api + 'guild/' + guild._id + '/icon'}"
          ></div>
        </div>
        <div class="col info">
          <a class="name">{{ guild.name }}</a>
          <br />
          <a class="owner">By {{ guild.owner.name }}</a>
          <div class="row notes">
            <a class="note">{{ guild.onlineCount }} Online</a>
            <a class="note">{{ guild.memberCount }} Members</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      api: window.settings.api,
      guild: {}
    };
  },
  created() {
    this.guild = window.store.state.guilds[this.id];
    this.guild.owner = window.store.state.users[this.guild.owner_id];
  },
  methods: {
    Join() {
      //TODO
    }
  },
  computed: {
    id() {
      return window.store.state.selectedGuild.guild._id;
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~#/_variables.scss";

/* Standard syntax */
@keyframes show {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.card {
  width: 400px;
  padding: 50px;
  padding: 0px;
}

.guild-background {
  background-size: cover;
  background-position: center;
  border-radius: $high_roundness;
  max-height: 91px;
  cursor: pointer;
}

.guild-background:after {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 75%
  );
  content: "";
  background-size: cover;
}

.note {
  display: block;
  background-color: $l2_background;
  border-radius: 100px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
  font-weight: 900;
  color: $secondary_text !important;
}

.notes {
  float: right;
  margin-top: 20px;
  margin-right: 7px;
  margin-bottom: 10px;
  font-size: 12px;
}

.placeholder {
  width: 70px;
  height: 70px;
}

.join {
  transition: all 0.1s ease-in;
  background-color: rgba(50, 50, 50, 0);
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 1000px;
  border: 3px white solid;
  z-index: 2;

  a {
    transition: all 0.1s ease-in;
    opacity: 0;
    width: 100%;
    flex-direction: column;
    display: flex;
    text-align: center;
    font-weight: 900;
  }

  .plus {
    font-size: 30px;
  }

  .text {
    margin-top: -15px;
  }
}

.guild-background:hover .join {
  background-color: $green;
  a {
    opacity: 1;
  }
}

.icon {
  max-width: 100px;
  padding-top: 10px;
  background-color: $background;
  border-top-left-radius: $high_roundness;
  border-bottom-left-radius: $high_roundness;
}

.info {
  padding-top: 10px;
  background: linear-gradient(
    100deg,
    $background 10%,
    transparent 30%,
    transparent 100%
  );

  .name {
    font-weight: 900;
    font-size: 20px;
    text-shadow: 2px 2px #2f3239;
  }

  .owner {
    font-weight: bold;
    font-size: 12px;
    color: $secondary_text !important;
    margin-bottom: 10px;
    text-shadow: 2px 2px #2f3239;
  }
}

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.cancel {
  text-align: left;
  position: relative;
  bottom: -10px;
  text-decoration: underline !important;
  color: $secondary_text !important;
}

.actions {
  padding-right: 10px;
}
</style>
