<template>
    <div v-if="notifications.length > 0" class="notification" :class="{'error': notifications[0].type == 'error'}">
        <a>{{ notifications[0].text }}</a>
    </div>
</template>

<script>
export default {
    data() {
        return {
            notifications: [],
            notificationLoopRunning: false
        };
    },
    created() {
        window.log = function(message) {

            if (typeof message == 'string') {
                this.notifications.push({ text: message, type: "info"});
            } else {
                this.notifications.push(message);
            }

            if (message.type != "info") {
                console.warn(message.text);
            }

            if (!this.notificationLoopRunning) {
                setTimeout(() => this.UpdateList(), 5 * 1000);
                this.notificationLoopRunning = true;
            }
        }.bind(this);
    },
    methods: {
        UpdateList() {
            //Remove first notification
            this.notifications.shift();

            if (this.notifications.length == 0) {
                this.notificationLoopRunning = false;
                return;
            }

            setTimeout(() => this.UpdateList(), 5 * 1000);
        }
    }
}
</script>

<style lang="scss" scoped>
   @import '~#/_variables.scss';
    .notification {
        position: absolute;
        bottom: 20px;
        left: 20px;
        max-width: 30vw;
        background-color: $ui_element;
        border-radius: $high_roundness;
        padding: 10px 15px 10px 15px;
        animation: 5s display infinite;
        animation-fill-mode: forwards;
    }

    .error {
        background-color: $red !important;
    }

    @keyframes display {
        0% {
            transform: scale(0.9);
            opacity: 0;
        }
        10% {
            transform: scale(1);
            opacity: 1;
        }
        90% {
            transform: scale(1);
            opacity: 1;
        }
        100% {
            transform: scale(0.9);
            opacity: 0;
        }
    }
</style>